body{
  margin:0px;
  padding:0px;
  background:#ccc;
  font-family:verdana;
  font-size:12px;
  position:relative;
}

#layout{
  display:block;
  width:100%;
  padding-top:75px;
  position:relative;
}

#layout #content, #layout #footer, #layout #header{
  display:block;
  width:700px;
  border:2px solid white;
  padding:14px;
  position:relative;
}

#layout a.header_link{
  border:0px;
  text-decoration:none;
  display:inline-block;
}

#layout div#content{
  background:#fff url('images/content-bottom.png');
  background-repeat:repeat-x;
  background-position:bottom;
  overflow:auto;
  border: 2px solid #aaa;
}

#layout div#footer{
  margin-top:5px;
  background:#7799aa;
  font-size:11px;
}

#layout div#header{
  margin-bottom:5px;
  background:white;
  font-size:14px;
}

#layout div#header{
  height:102px;
  background:url('images/header-background.gif');
  padding:0px;
  padding-left:14px;
  padding-right:14px;
  border:2px solid #aaa;
}

#header .title{
  font-size:24px;
  color:#336699;
  position:absolute;
  left:10px;
  top:15px;
}

#header .tagline{
  position:absolute;
  top: 44px;
  left:10px;
  font-style:italic;
  color:#333;
  font-weight:bold;
  font-size:12px;
}

#header .graph{
  float:right;
  border:0px;
}

#content .sidebar{
  float:right;
  text-align:center;
  width:210px;
  padding:5px;
  border:2px solid #ccc;
  background: #eee;
  -moz-border-radius:10;
  -webkit-border-radius:10;
  position:relative;
}

.sidebar .item .title{
  color:#225588;
  font-weight:bold;
  font-size:14px;
  margin-bottom:10px;
}

.sidebar .item .text{
  padding-left:5px;
  padding-right:5px;
}

.sidebar .item{
  color:black;
  font-size:11px;
}

.sidebar a{
  display:inline-block;
  margin-bottom:5px;
}

.sidebar a img{
  border:1px solid #333333;
}

#content .main{
  background-repeat: repeat-x;
  display:block;
  width:470px;
  float:left;
  position:relative;
}

#content .contentfooter{
  width:100%;
  display:block;
  float:left;
  clear:both;
  position:relative;
}

.main a{
 color:#333;
 text-decoration:none;
}

.main .post_thumb{
  width:210px;
  display:inline-block;
  border:1px solid #666;
  padding:4px;
  margin:5px;
  -moz-border-radius:10;
  -webkit-border-radius:10;
  background:#eee;
}

.main a:hover .post_thumb{
  margin-top:4px;
  margin-left:1px;
  margin-right:7px;
  margin-bottom:4px;
  background:#cde;
  border:2px solid #666;
  -moz-box-shadow: #ccc 3px 5px 5px;
  -webkit-box-shadow: #ccc 3px 5px 5px;
}

.post_thumb .thumb_title{
  font-weight:bold;
  margin-bottom:4px;
}

.post_thumb .thumb_desc{
  line-height:150%;
}

.post_thumb img{
  margin-top:5px;
  margin-bottom:5px;
}

.post_title{
  font-size:24px;
}

div.disabled{
  opacity:0.35;
  filter: alpha(opacity = 35);
}

.main .date{
  display:inline-block;
  font-style:italic;
  margin-left:10px;
}

.main .authors{
  display:inline-block;
}

.main .post{
  margin-top:10px;
  line-height:180%;
  padding-right:5px;
}
