<html>
<head>
<link type="text/css" rel="stylesheet" media="screen" href="default.css"/>
        <script language="Javascript" type="text/javascript" src="javascript/prototype.js"></script>
        <script language="Javascript" type="text/javascript">


var current_div;

function initialize(){
  current_div = $('Sensible Tag')
}

function newSection(){
  current_div.hide()
  taglines = $('taglines').childElements();
  var rannum=Math.floor(Math.random()*(taglines.length));

  current_div = taglines[rannum];
  current_div.show();
}
          
        </script>
<title>Tratatus Hackday</title>
</head>
<body onload='initialize();'>
  
<div align="center" id="layout">

  <div align="left" id="header"  onclick="newSection();">
    <img src="images/graph-header.png" class="graph"/>
    <div class="title">Hacktatus</div>
    <div id = 'Sensible Tag' class="tagline">A selection of innovative hypertexts for reading the Tractatus</div>
    <div id='taglines'>
      <div class="tagline" style='display:none;'>The crossover for 2010 that Disney executives thought would make most money</div>
      <div class="tagline" style='display:none;'>The Zettelschrift strikes back</div>
      <div class="tagline" style='display:none;'>Advancing Wittgenstein's Thought Leadership position</div>
      <div class="tagline" style='display:none;'>Wittgenstein's Patented Elementary Propositions - Just add an atomic fact for instant truth!</div>
    </div>
  </div>

 
  <div align="left" id="content">
  <div class="main"> 
   ^text^
   ^justChildren(index_thumb.html)^

  </div>

  <div class="sidebar">
    <div class="item">
     ^include(about)^
    </div>
  </div>
 <div class="contentfooter">
 </div>

  </div>
  <div align="left" id="footer">copyright &copy 2010 David Williams and J. Nathan Matias
  </div>
</div>

</body>
</html>
