<html>
<head>
<link type="text/css" rel="stylesheet" media="screen" href="../default.css"/>
<title>^title^: Tractatus Hackday</title>
</head>
<body>

<div align="center" id="layout">
  <a href="../index.html" class="header_link">
  <div align="left" id="header">
    <img src="../images/graph-header.png" class="graph"/>
    <div class="title">Tractatus Hackday</div>
    <div class="tagline">HERE IS WHERE WE PUT OUR HEADER</div>
  </div>
  </a>
 
  <div align="left" id="content">
  <div class="main"> 
    <div class="post_title">^title^</div> 
    <div class="date">^get(date)^</div>
    <div class="authors">^get(author)^</div>
    <div class="post">
    ^Text^
    </div>
  </div>

  <div class="sidebar">
     ^include(about)^
    <div class="item">
      <div class="title">Heroes</div>
      <!--<a href="http://percona.com"><img src="../images/Percona.jpg" width="200" height="65"/></a>-->

    </div>
  </div>
 <div class="contentfooter">
 </div>

  </div>
  <div align="left" id="footer">HERE IS WHERE WE PUT FOOTER STUFF
  </div>
</div>

</body>
</html>
