body{
background:#ffffff;
}
html { 
	overflow: -moz-scrollbars-vertical;
	min-height: 100%; margin-bottom: 1px; 
}

#body{
        margin:15px;
	border:1px solid #ccccbf;
        text-align:left;
	position:relative;
	background:#ffffe8;
	width:7.8in;
	font-size:12pt;
	font-family:Georgia;
}
#textBody{
        border-right:1px dashed #c0c09f;
        background:#ffffdD;
	width:6in;
}
#textbody div{
padding:0.1in;

}
p{
margin:0px;
margin-top:5px;
margin-left:0.05in;
padding:0px;
margin-bottom:8px;
line-height:130%;
}
blockquote{
line-height:110%;
text-align:justify;
}
h1{
font-weight: bold;font-size:130%;color:#995533; margin-left:-5px;
margin-bottom:0px;
font-variant: small-caps;
}
h2{
font-weight:bold; font-size:115%; color:#555544;margin-left:-5px;
margin-bottom:0px;
font-variant: small-caps;
}
img{
margin-left:15px;
margin-bottom:10px;
border:1px solid #c0c09f
}
a:link{
color:#2460b4;
}
a:visited{
color:#5e5b38;
}

li{
margin-bottom:4px;
font-size:90%;
padding-right:0.5in;
text-align:justify;
}
ul {
	list-style:circle;
}

.pIcon{
color:#88886D;
padding-left:5px;
padding-right:5px;
background:#ccccaD;
border:1px solid #bbbb9D;
}
.toggle a{
font-size:80%;
text-decoration:none;
border:1px solid #bbbb9D;
}
.toggle{
vertical-align:top;
}
.contextToggle{
position:relative;
}
.stretch{
background:#ddddbd;
margin-top:0px;
margin-left:0.09in;
margin-right:0.01in;
padding: 5px;
border:1px dotted #bbbb9D;
width:500px;
}

.stretch .stretch{
background:#eeeecd;
width:100%;
overflow:visible;
margin-left:10px;
margin-right:0px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

.stretch .stretch .stretch{
background:#CDCDCD;
width:100%;
overflow:visible;
margin-left:10px;
margin-right:0px;
padding: 5px;
}

.stretch .stretch .stretch .stretch{
background:#A8A8A8;
width:100%;
overflow:visible;
margin-left:10px;
margin-right:0px;
padding: 5px;
}

.stretch .stretch .stretch .stretch .stretch{
background:#8F8FBD;
width:100%;
overflow:visible;
margin-left:10px;
margin-right:0px;
padding: 5px;
}

.stretch .stretch .stretch .stretch .stretch .stretch{
background:#D19275;
width:100%;
overflow:visible;
margin-left:10px;
margin-right:0px;
padding: 5px;
}

.context{
background:#eeccaa;
}
.annotation{
visibility:hidden;
position:absolute; 
border-top:1px solid #bbbb9d; 
color:black; 
font-size:13px; 
width:1.8in;
left:6in;
}
a.annotationLink{
border:1px dashed #aaaa8d;
text-decoration:none;
color:black;
}
a.annotationLink:hover{
border:1px solid #99996d;
}
.annotation div{
margin-left:1px;
margin-right:2px;
padding:3px;
background:#ffffe8;
}
.noteLine{
height:0px; width:0px; position:absolute; border-top:1px solid #bbbb9d; left:0px; top:0px; visibility:hidden;
}
.copyright{
color:#bbbb9d;
font-size:70%;
margin-top:0px;
margin-bottom:-25px;
}
