body{
 background:#333;
 margin-top:50px;
}

#header, #footer{
  text-align:center;
  width:600px;
  border:1px solid #eee;
  padding:10px;
  background:#ddd;
  -moz-box-shadow: 0 0 1em #aee;
  -webkit-box-shadow: 0 0 1em #aee;
  box-shadow: 0 0 1em #aee;
  color:#366;
  -moz-border-radius: 50px ;
  border-radius: 50px ;
  font-size:18pt;
  font-family:Arial;
}

#reading_area{
  text-align:left;
  height: 300px;
  width:500px;
  margin-top:50px;
  margin-bottom:50px;
  background:white;
  border:5px dashed #4a6;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black;
  box-shadow: 0 0 1em black;
}

#footer{
  text-align:center;
  font-size:12px;
  -moz-box-shadow: 0 0 1em gold;
  -webkit-box-shadow: 0 0 1em gold;
  box-shadow: 0 0 1em gold;
}
